:root{
    --bg1: #1e0cea;
    --bg2: #0de735;
    --bg3: #333333;
}
body{
    display: flex;
    background-color: var(--bg1);

}
.box1{
    width: 200px;
    height: 200px;
    background-color: var(--bg2);

    border: 5px solid var(--bg3);
}
.box2{
    width: 200px;
    height: 200px;
    background-color: var(--bg3);

    border: 5px solid var(--bg2);
}